.photo-grid {
  max-width: 1184px;
  margin: auto;
  padding-top: 92px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px 16px;
}

@media screen and (max-width: 1200px) {
  .photo-grid {
    width: 720px;
    padding-top: 64px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    width: 288px;
    padding-top: 38px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
}
