.place__span-artists {
  display: block;
  color: #AAA;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.63;
}

@media screen and (max-width: 1200px) {
  .place__span-artists {
    font-size: 12px;
  }
}