.lead {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  margin: auto;
  max-width: 984px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead {
    padding-top: 50px;
  }
}