.place__button {
  grid-area: button;
}

@media screen and (max-width: 1200px) {
  .place__button {
    position: relative;
    left: 0;
    width: 355px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 767px) {
  .place__button {
    width: 288px;
    height: 48px;
    font-size: 14px;
    padding: 15.5px 20px;
    margin: auto;
  } 
}