.intro {
  padding-top: 92px;
  max-width: 1017px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .intro {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 44px 16px 0;
  }
}