.place__website {
  align-self: flex-end;
  grid-area: employees;
  font-size: 18px;
  line-height: 1.63;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .place__website {
    font-size: 16px;
  }
}